<template lang="pug">
    .wrapper
      div(class="row columns is-multiline")
        .card.card-profile(class="column is-6")
          .card-images
            h1
            img(src="/images/profile.jpg")
        .card(class="column is-6")
          .card-content
            h1.title.is-2.has-text-weight-bold About Me
            h3.title.is-4 Indah Widowati | Front End Programmer
            p.is-size-6 Results-oriented Front-end Developer dedicated to creating and optimizing interactive and user-friendly.Leverage analytical skills and strong attention to detail in order to deliver original andefficient web solutions, provide technical knowledge and expertise, build new websites from start to finish, and successfully manage a team of other software professionals.
            .project 
              h5.is-size-4.has-text-weight-semibold Project
              p.is-size-6 Some of the applications that I've worked on
              div.content
                ul
                  li 
                    a(href="https://carkensaku.com/") carkensaku.com ( Ecommerce for car)
                  li 
                    a(href="https://589kobac.co.jp/index.php") 589kobac.co.jp  (Company profile in Japan)
                  li 
                    a(href="http://m.yoyaku.id/") m.yoyaku.id (Web application for online queuing)
                  li 
                    a(href="https://rental.yoyaku.id") rental.yoyaku.id (Application for vehicle rental)
            .contact
              h5.is-size-4.has-text-weight-semibold Contact :
              | widowati.indah07@gmail.com | 089681745943 
            .social-media(class="row columns is-mobile")
              a.title(class="column is-2" href="https://github.com/indahwii") 
                img(src="/images/github.png")
              a.title.has-text-info(class="column is-2" href="https://www.linkedin.com/in/indahwii/")
                img(src="/images/linkedin.png")
              a.title.has-text-danger(class="column is-2" href="https://www.instagram.com/indahwii/")
                img(src="/images/instagram.png")   
</template>

<script>
export default {}
</script>

<style>
 .mt-1 {
    margin-top: 1rem;
  }
  .mt-2 {
    margin-top: 2rem;
  }
  .wrapper {
    /* padding: 30px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .card-profile {
    box-shadow: none;
    padding: 0px !important;
  }
  .contact , .project , .social-media{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  a.title{
    color: #000;
    margin-top: -15px;
  }


</style>
